In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from bs4 import BeautifulSoup
import requests
headers = {"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36"}

In [2]:
# Import Income Data Set
income_df = pd.read_csv("kaggle_income.csv", encoding='latin-1')

# delete unnecessary columns
del income_df['id']
del income_df['Type']
del income_df['County']
del income_df['Place']
del income_df['Primary']
del income_df['Lat']
del income_df['Lon']
del income_df['sum_w']

# combine duplicate cities
income_df.head(10)

,State_Code,State_Name,State_ab,City,Zip_Code,Area_Code,ALand,AWater,Mean,Median,Stdev
0,1,Alabama,AL,Chickasaw,36611,251,10894952,909156,38773,30506,33101
1,1,Alabama,AL,Louisville,36048,334,26070325,23254,37725,19528,43789
2,1,Alabama,AL,Columbiana,35051,205,44835274,261034,54606,31930,57348
3,1,Alabama,AL,Satsuma,36572,251,36878729,2374530,63919,52814,47707
4,1,Alabama,AL,Dauphin Island,36528,251,16204185,413605152,77948,67225,54270
5,1,Alabama,AL,Cullman,35057,256,8913021,26837,50715,42643,35886
6,1,Alabama,AL,East Brewton,36426,251,8826252,91015,33737,23610,28256
7,1,Alabama,AL,Coosada,36020,334,10222339,176500,46319,40242,38941
8,1,Alabama,AL,Eva,35621,256,10544874,78981,57994,39591,47235
9,1,Alabama,AL,Sylacauga,35151,256,45178321,6034534,54807,41712,51359

In [20]:
# import us cities dataset
cities_df = pd.read_csv('uscities.csv')
del cities_df['city_ascii']
del cities_df['county_name']
del cities_df['lat']
del cities_df['lng']
del cities_df['source']
del cities_df['military']
del cities_df['incorporated']
del cities_df['timezone']
del cities_df['ranking']
del cities_df['id']
cities_df.head(10)
print(cities_df.loc[(cities_df['state_id'] == 'MD')])

                       city state_id state_name  county_fips  population  \
21                Baltimore       MD   Maryland        24510     2106068
242              Hagerstown       MD   Maryland        24043      184755
279               Frederick       MD   Maryland        24021      156787
432               Salisbury       MD   Maryland        24045      106447
441                Columbia       MD   Maryland        24027      103991
...                     ...      ...        ...          ...         ...
28106        Indian Springs       MD   Maryland        24043          19
28111             Waterview       MD   Maryland        24045          19
28127            Middleburg       MD   Maryland        24043          18
28154           West Denton       MD   Maryland        24011          16
28176  Port Tobacco Village       MD   Maryland        24017          15

       density                                               zips
21        2830  21218 21211 21210 21213 21212 21215 21214 2121...
242       1272                      21740 21742 21741 21747 21749
279       1172                      21705 21703 21702 21701 21709
432        927                                  21802 21804 21801
441       1257                21044 21045 21046 21029 20588 21150
...        ...                                                ...
28106       63                                        21722 21711
28111       14                                              21840
28127       71                                              21742
28154       21                                              21629
28176       37                                              20677

[510 rows x 7 columns]