In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from bs4 import BeautifulSoup
import requests
headers = {"user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/93.0.4577.82 Safari/537.36"}

In [37]:
# Import Income Data Set
income_df = pd.read_csv("kaggle_income.csv", encoding='latin-1')

# delete unnecessary columns
del income_df['id']
del income_df['Type']
del income_df['County']
del income_df['Place']
del income_df['Primary']
del income_df['Lat']
del income_df['Lon']
del income_df['sum_w']

# combine duplicate cities

income_df

,State_Code,State_Name,State_ab,City,Zip_Code,Area_Code,ALand,AWater,Mean,Median,Stdev
0,1,Alabama,AL,Chickasaw,36611,251,10894952,909156,38773,30506,33101
1,1,Alabama,AL,Louisville,36048,334,26070325,23254,37725,19528,43789
2,1,Alabama,AL,Columbiana,35051,205,44835274,261034,54606,31930,57348
3,1,Alabama,AL,Satsuma,36572,251,36878729,2374530,63919,52814,47707
4,1,Alabama,AL,Dauphin Island,36528,251,16204185,413605152,77948,67225,54270
...,...,...,...,...,...,...,...,...,...,...,...
32521,72,Puerto Rico,PR,Guaynabo,970,787,589417,1691,30649,13729,37977
32522,72,Puerto Rico,PR,Aguada,602,787,1801613,795887,15520,9923,15541
32523,72,Puerto Rico,PR,Aguada,602,787,11031227,0,41933,34054,31539
32524,72,Puerto Rico,PR,Aguada,602,787,0,33597561,0,0,0
32525,72,Puerto Rico,PR,Aguadilla,603,787,6476604,2717115,28049,20229,33333